/*------------Tady piš svoje stylování --------------*/

@media (min-width: 360px) and (max-width: 575px) {
  .social-media {
    width: 40%;
  }
  .photos {
    overflow-x: auto;
  }
  .date {
    position: relative;
  }
  .date__busy {
    position: absolute;
    top: 10px;
  }
  .dashboard {
    width: 100%;
  }
  .newsletter__image {
    display: none;
  }
}
