/*------------Tady piš svoje stylování --------------*/

.date {
  position: relative;
}
.date__busy {
  position: absolute;
  top: 10px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newsletter__article {
  display: flex;
}

/* mobile */
@media screen {
  .social-media {
    width: 40%;
  }
  .photos {
    overflow-x: auto;
  }
  .newsletter__image {
    display: none;
  }
  .card--md,
  .card--sm {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 576px) {
  .social-media {
    width: 30%;
  }
  .card--md,
  .card--sm {
    width: 49%;
  }
  .card--lg,
  .card--wide {
    width: 100%;
  }
  .newsletter__image {
    display: inline;
  }
}

/* laptop */

@media screen and (min-width: 992px) {
  .social-media {
    width: 20%;
  }
  .newsletter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .newsletter__article {
    width: 49%;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .social-media {
    width: 15%;
  }
  .newsletter__article {
    width: 32%;
  }
  .card--wide {
    order: -1;
  }
  .card--md,
  .card--wide {
    width: 32%;
  }
}
